@page
@model vCatalogRazor.Pages.profesor.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Listă profesori</h1>

<p>
    <a asp-page="Create">Adaugă profesor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfesoriList[0].Grad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfesoriList[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfesoriList[0].Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfesoriList[0].Functie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfesoriList[0].DataAngajare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfesoriList[0].IsDeleted)
            </th>
            <th>Acțiuni</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProfesoriList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Grad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Functie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAngajare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm mx-1">
                        <i class="bi bi-pencil"></i> Editare
                    </a>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm mx-1">
                        <i class="bi bi-list"></i> Detalii
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm mx-1">
                        <i class="bi bi-trash-fill"></i> Ștergere
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
