@page
@model vCatalogRazor.Pages.clasa.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Listă de clase</h1>

<p>
    <a asp-page="Create">Adaugă clasă</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clasa[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clasa[0].Descriere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clasa[0].IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clasa[0].Promotie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clasa[0].Profesor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Clasa) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promotie.Descriere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profesor.Grad)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm mx-1">
                        <i class="bi bi-pencil"></i> Editare
                    </a>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm mx-1">
                        <i class="bi bi-list"></i> Detalii
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm mx-1">
                        <i class="bi bi-trash-fill"></i> Ștergere
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
