@page
@model vCatalogRazor.Pages.modul.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Modul</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modul.Numar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modul.Numar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modul.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modul.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modul.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modul.Descriere)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modul.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modul.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modul.IsActiveInAvg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modul.IsActiveInAvg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modul.Promotie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modul.Promotie.Descriere)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Modul.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
